apiVersion: deploy.cloud.google.com/v1
kind: Target
metadata:
  name: dev
  annotations: {}
  labels: {}
description: dev
gke:
  cluster: cluster: projects/gcs-storage-fusion-lab-001/locations/us-central1/clusters/cluster-1


